*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: aqua;
    background-image: url("../image/IMG_20190113_163400_545.jpg");
    background-size:cover;
    height:100vh;

}
.container{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;   
}
#input{
    border: none;
    height: 2rem;
    width: 13rem;
    padding: 0.5rem;
    border-radius: 10px;
}
#input:focus{
    outline: none;
}
.btn{
    height: 2rem;
    width: 4rem;
    border: none;
    border-radius: 5px;
    background-color:black;
    color: white;
}
h1{
    margin-bottom: 2rem;
}